 h1 {
   text-align: center;
   padding: 20px;
   color: pink;
   font-family: 'Montserrat Subrayada', sans-serif;
   font-size: 48px;
 }

 body {
  grid-template-areas: 
 
  "center-box" "buttons"
  "tableForm"  "print";
   
   font-family: 'Bebas Neue', cursive;
   font-size: 28px;
   margin: 30px;
   background-image: url(colorful-painted-buildings-2388639.jpg);
   

 }
 

 h6 {
   font-size: 22px;
   color: rgb(148, 16, 148);
   background-color: chartreuse;
   opacity: 70%;
   width: 200px;
 }

 section {
   border: 2px solid grey;
   border-radius: 6px;
   padding: 10px;
   margin: 10px 10px 10px 0;
   display: flex;
   position: left;
 }






 aside {
   justify-content: space-between;
   flex-basis: 50%;
   padding: 4px 10px;
   color: orange;
   
 }

 input {
   display: block;
   margin: 10px 0 20px 0;
   border-radius: 5px;
   border: 1px solid grey;
   font-size: 20px;
   padding: 6px;
 }



 #tableForm {
   color: yellow;
   text-shadow: grey;
   margin-top: 20px;
   width: 200px;
   position: relative;
 }

 button {
   
   cursor: pointer;
   width: 200px;
   height: 60px;
   border-radius: 8px;
   border: 1px solid red;
   background-color: aquamarine;
   font-size: 16px;
   font-family: 'Bebas Neue', cursive;
   opacity: 70%;
   margin: 0 20px
 }

 .buttons {
   width: 800px;
   margin-left: 35%;
   position: absolute;
  
  
 }
 
 #last-button {
   padding: 14px;
 }
 th {
   color: green;
   padding-right: 30px;
   padding-left: 30px
 }

 td {
   text-align: center;
   border: 1px solid grey;
   border-radius: 15px;
   padding-right: 20px;
 }

 table {
   margin-top: 150px;
   
   border-collapse: collapse;
   padding: 4px;
   width: 80%;
   background-color: aliceblue;
   border-radius: 10px;
 }



 footer {
   text-align: center;
   padding: 10px;
   position: bottom;
   color: black;
   background-color: gray;
   opacity: 65%;
 }

 .checkBtn {
   cursor: pointer;
 }

 #notes {
   visibility: hidden;
 }


 #center-box {
  position: absolute;
  margin-top: 20px;
  width:700px;
  height: 150px;
 }

 #howto {
   margin-top: 20%;
  color: rgb(52, 11, 235);
  background-color: rgb(247, 151, 196);
  font-family: 'Bebas Neue', cursive;
  opacity: 80%;
  padding:10px;
 }


 
  @media  (max-width:600px) {
  body {   
    grid-template-areas:
    "head"
    "center-box"
    "buttons"
    "tableForm"
    "print";

    
  }
}